/node_modules
/public/hot
/storage/*.key
/storage/debugbar
/storage/fonts/.gitignore
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.directory
.phpunit.result.cache
_ide_helper.php
reference.php
